UdemySiparis/bin
UdemySiparis/obj
UdemySiparis.Data/bin
UdemySiparis.Data/obj
UdemySiparisMVC/bin
UdemySiparisMVC/obj
UdemySiparis.Models/bin
UdemySiparis.Models/obj
UdemySiparisMVC.SharedTools/bin
UdemySiparisMVC.SharedTools/obj