@model UdemySiparis.Models.ViewModels.ProductVM

<h2>Product@(Model.Product.Id <= 0 ? "Add" : "Update") </h2>
<form method="post" enctype="multipart/form-data">

    <div class="row my-1">
    <label asp-for="Product.Name"></label>
    <input asp-for= "Product.Name" class="form-control" />
   </div>
    <div class="row my-1">
    <label asp-for="Product.Description"></label>
    <input asp-for= "Product.Description" class="form-control" />
   </div>
    <div class="row my-1">
    <label asp-for="Product.Barcode"></label>
    <input asp-for= "Product.Barcode" class="form-control" />
   </div>
   <div class="row my-1">
    <label asp-for="Product.Price"></label>
    <input asp-for= "Product.Price" class="form-control" />
   </div>
    <div class="row my-1">
    <label asp-for="Product.CategoryId"></label>
    <select asp-for= "Product.CategoryId" asp-items="@Model.CategoryList" class="form-control">
        <option disabled selected> ---Choose a Category---</option>
        </select>
        <div/>
         <div class="row my-1">
    <label asp-for="Product.Picture"></label>
    <input type="file" id="file" name="file" accept= "image" class="form-control"/>
   </div>
   <button type="submit" class="btn btn-primary"> @(Model.Product.Id <=0 ? "Add" : "Update") </button>
   </form>